body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ad2929;
}

header {
    background-color: #333;
    color: #731386;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #d410ee;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #c40d0d;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #e67308;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
